html {
  height: 100%;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.qr-background {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  border-radius: 15px;
}

h1 {
  text-align: center;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: hsl(218, 44%, 22%);
  padding-left: 10%;
  padding-right: 10%;
}

p {
  text-align: center;
  font-family: Outfit, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

img {
  max-width: 90%;
  padding: 5%;
  border-radius: 8%;
}

/* mobile screens media query */
@media only screen and (max-width: 375px) {
  body {
    max-width: 375px;
  }

  .qr-background {
    width: 85%;
  }
}

/* desktop screens media query */
@media only screen and (min-width: 376px) and (max-width: 1440px) {
  body {
    max-width: 1440px;
  }
  .qr-background {
    max-width: 320px;
  }
}

/* large desktop screens media query */
@media only screen and (min-width: 1440px) {
  body {
    min-width: 1440px;
  }
  .qr-background {
    max-width: 320px;
  }
}
